@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Anton");

* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  /* background-color: #64475b; */
}

.button {
  background-color: #0e4f1f;
  border: 1.5px solid #0e4f1f;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  padding: 8px;
}

.button:hover,
.button:active {
  background-color: #ffffff;
  color: #0e4f1f;
}

.button:focus {
  outline: none;
}

.main-header {
  width: 100%;
  background: #2ddf5c;
  padding: 8px 16px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  padding: 3px;
}

/* Pseudo element
  .main-nav__item a::after {
    content: " (Link)";
    color: red;
  } */

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: white solid 2px;
}

.main-nav__item--cta a {
  color: white;
  background-color: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background-color: white;
  border: none;
}
/* Pseudo element
  p::first-letter {
    color: red;
    font-size: 20px;
  } */

.main-footer {
  background-color: #000000;
  padding: 32px;
  margin-top: 48px;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link > a {
  color: #ffffff;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}
